---
import "../styling/reset.css";
import "../styling/root.css";
import "../styling/button.css";

import * as React from 'react';
import AppBar from '@mui/material/AppBar';
import Box from '@mui/material/Box';
import Toolbar from '@mui/material/Toolbar';
import Typography from '@mui/material/Typography';
// import Button from '@mui/material/Button';
// import IconButton from '@mui/material/IconButton';
import MyEditor from "../components/editor/App";
import PredictEnergy from "../components/PredictEnergy";

---

<!-- <Layout title="OpenFarmCarbonTracker"> -->
	<main>
		<Box sx={{ flexGrow: 1 }}>
      <AppBar position="static">
        <Toolbar>
          <Typography variant="h6" component="div" sx={{ flexGrow: 1 }}>
            OpenFarmCarbonTracker
          </Typography>
        </Toolbar>
      </AppBar>
    </Box>

		<Typography variant="h5" gutterBottom={true} >Energy usage</Typography>
      
		<MyEditor client:idle />
		<br />
		<PredictEnergy client:idle />
		
		<Typography variant="h5" gutterBottom={true} >Carbon Stock</Typography>
		
				
		
	</main>
<!-- </Layout> -->

