
body {
  /* font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell,
     'Open Sans', 'Helvetica Neue', sans-serif; */
  background-color: rgb(218, 230, 239);
}

a {
  margin-right: 1rem;
}

.appbar {
  color: white;
  background-color: rgb(57, 116, 204);
  position: sticky;
  display: flex;
  justify-content: space-between;

  align-items: center;
  padding: 20px;

  > h1 {
    color: white;
    font-size: 40px;
    margin: 0;
  }
}

main {
  /* text-align: center; */
  padding: 1em;
  margin: 0 auto;
}

h1 {
  color: #335d92;
  font-size: 4rem;
  font-weight: 100;
  line-height: 1.1;
  margin: 4rem auto;
  max-width: 14rem;
}

p {
  max-width: 14rem;
  margin: 2rem auto;
  line-height: 1.35;
}

@media (min-width: 480px) {
  h1 {
    max-width: none;
  }

  p {
    max-width: none;
  }
}
